<h1>Questions#answer</h1>

<p>The question in the URL: <%= @question =%></p>
<p><em>- You </em></p>
<br>

<p>The answer is: <%= @answer =%></p>
<p><em> - The coach </em></p>

<a href="/ask">Ask again</a>
