
<div class="container">
  <div class="header">
    <h1>Coach's corner</h1>
  </div>
  <div id="question">
    <p><strong>Asked:</strong> <%= @question %></p>
    <p><em>- You </em></p>
  </div>
  <br>
  <div id="answer">
    <p><strong>Answer:</strong> <%= @answer %></p>
    <p><em> - The coach </em></p>
  </div>
  <div id="backlink">
    <div class="btn btn-default btn-large">
      <%= link_to 'Back', "/ask" %>
    </div>
  </div>
</div>
