<div class="container">
  <h1>Ask the coach a question</h1>
  <br>
  <div id="form-askCoach">
    <form action="/answer" method="get">
      <input type="text" name="question" placeholder="Ask a question.">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
